{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-export-default-from"
        // Add any other plugins you might need here
    ]
}