body{
    width: 100vw; 
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* STRUCTURE ---------------------------------------------------------------- */

.logo{
    background-image: linear-gradient(to bottom right,rgb(255,150,141), rgb(255,252,103));
}

.colorbox{
    margin: 5px;
    border: 5px solid black;
}

.red{
    background: rgb(255,150,141);
    background-image: linear-gradient(to bottom right,rgb(255,150,141), rgb(255,252,103));
}

.blue{
    background: rgb(86,194,255);
    background-image: linear-gradient(to bottom right,rgb(255,150,141), rgb(255,252,103));
}

.yellow{
    background: rgb(255,252,103);
    background-image: linear-gradient(to bottom right, rgb(255,252,103), rgb(86,194,255));
}

