
/* Tablet */
@media (max-width: 1000px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        background-image: linear-gradient(to bottom,rgb(255, 210, 206), rgb(255, 254, 180), rgb(183, 229, 255), rgb(255, 210, 206));
    }

    .logo{
        font-size: 75px;
    }

    .link-item {
        margin-left: 5px;
        margin-right: 5px;
    }

    .one-two {
        grid-template-columns: 0.01fr 1fr 0.01fr;    
        grid-template-rows: 0.15fr 1fr 1fr 0.15fr;   
        justify-items: center;
        align-items: center; 
    }
}

/* Mobile */
@media (max-width: 700px) {

}