
/* Mobile, Tablet, and Small Computers */
@media (max-width: 1166px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        background-image: linear-gradient(to bottom,rgb(255, 210, 206), rgb(255, 254, 180), rgb(183, 229, 255), rgb(255, 210, 206));
    }

    .logo{
        font-size: 75px;
    }

    .link-item {
        margin-left: 5px;
        margin-right: 5px;
    }

    /* personal links */
    .one-two {
        grid-template-columns: 0.01fr 1fr 0.01fr;    
        grid-template-rows: 0.15fr 1fr 1fr 0.15fr;   
        justify-items: center;
        align-items: center; 
    }

    /* website photos */
    .alexandria-image img{
        height: 210px;
    }

    .augustus-image img{
        height: 210px;
    }

    /* aurelian */
    .aurelian-links{        
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .aurelian-image{
        grid-column: 3;
    }

    .aurelian-text{
        grid-column: 2;
    }

    /* tech */
    .two-one{
        grid-template-columns: 0.1fr 2fr 1fr 0.1fr;
    }

    .introduction-tech{
        grid-column: 3;
        grid-row: 2;
    }

    .technologies{
        grid-column: 2;
        grid-row: 2;
    }
}

/* Mobile */
@media (max-width: 700px) {

}