.introduction-tech{
}

.technologies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.tech-item{
    font-size: 50px;
}