.two-two{
    display: grid;
    grid-template-columns: 0.1fr 2fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;

    align-items: center;
}

.aurelian-image{
    grid-column: 2;
    grid-row: 2;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 3px;

    padding: 10px;
    margin: 3px;
    justify-self: center;
}

.aurelian-image img{
    height: 210px;
    border-radius: 15px;
    box-shadow: 0 0 3px;
}

.aurelian-text{
    grid-column: 3;
    grid-row: 2;

    text-align: center;
}

.aurelian-text h1{
    font-family: "raleway";
    font-weight: 400;
    font-size: 35px;
    text-decoration: underline;
}

.aurelian-text h2{
    font-family: "raleway";
    font-weight: 200;
    font-size: 18px;
}

.aurelian-links{
    font-family: "raleway";
    font-weight: 300;
    font-size: 25px;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    box-shadow: 0 0 3px;

    margin: 15px;
    padding: 5px;
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-content: space-evenly;
}

.aurelian-links a {
    color: black;
}

.aurelian-links a:hover{
    color: rgb(86,194,255);
    text-decoration: underline;
}