@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: linear-gradient(to bottom, rgb(255,254,180), rgb(183,229,255), rgb(255,210,206), rgb(255,254,180));
    min-height: 100%;
  }

  a {
    text-decoration: none;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  input,
  select,
  textarea,
  button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    -webkit-appearance: none;
  }
}
